/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Raleway', Arial, sans-serif;
    background: #f3f3ef;
    padding: 0;
    color: #333;
}
img {
    max-width: 100%;
}
section {
    min-height: 400px;
}

.navbar-brand {
    display: block;
    text-indent: -9999px;
    background: url('../img/logo.jpg') no-repeat;
    width: 150px;
    height: 100px;
    margin-top: 20px;
}
.title {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.jumbotron h1 {
    font-size: 50px;
}

#hero p {
    font-size: 150%;
}

.bordered {
    margin: 20px;
    background: #fff;
}

.jumbotron {
    background: #fff;
}

.navbar {
    background: none;
    border: 0;
}














